// @import "~vuetify/src/styles/styles.sass";

// $dark-theme: (
//   "app-bar": #0d1435,
//   "background": #141a3a,
//   "cards": #141a3a !important,
//   "navigation-drawer": #141a3a !important,
//   "dividers": #141a3a !important,
// );

// $material-light: map-merge(
//   $material-light,
//   (
//     "background": var(--v-background-base, map-get($material-light, "background")) !important,
//   )
// );

// $material-dark: map-merge($material-dark, $dark-theme);
$body-font-family: 'Nunito Sans', sans-serif;
$heading-font-family: 'Nunito Sans', sans-serif;
$font-size-root: 18px;
$navigation-drawer-border-color: #FFFFFF;
$navigation-drawer-border-width: 0px;
@import '~vuetify/src/styles/styles.sass';